<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TunnitApplikaatio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TunnitApplikaatio.Properties.Settings.MyDatabase_1ConnectionString"
            connectionString="Data Source=|DataDirectory|\MyDatabase#1.sdf;Password=aurajoki"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TunnitApplikaatio.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <TunnitApplikaatio.Properties.Settings>
            <setting name="Useri" serializeAs="String">
                <value>Useri</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Info" serializeAs="String">
                <value>Info</value>
            </setting>
        </TunnitApplikaatio.Properties.Settings>
    </userSettings>
</configuration>